<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galería de imágenes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-item *ngIf="!currentList.length">No hay elementos que coincidan con la búsqueda</ion-item>
  <ion-list>
    <ion-item *ngFor="let item of currentList; let i = index">
      <ion-card>
        <ion-img [src]="item.photo"></ion-img>
        <ion-card-content>
          {{ item.text }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
